/* ==================== Keyframes ==================== */
/* ---------- Horizon Ball ---------- */
@-webkit-keyframes horizon-ball {
	0%, 80% {
		opacity: 1
		-webkit-transform: scale(1);
						transform: scale(1);
	}
	40% {
		opacity: .7
		-webkit-transform: scale(0.1);
						transform: scale(0.1);
	}
}
@keyframes horizon-ball {
	0%, 80% {
		opacity: 1
		-webkit-transform: scale(1);
						transform: scale(1);
	}
	40% {
		opacity: .7
		-webkit-transform: scale(0.1);
						transform: scale(0.1);
	}
}
/* ---------- END Horizon Ball ---------- */

/* ---------- Grid Ball ---------- */
@-webkit-keyframes grid-ball {
	0%, 100% {
		opacity: 1;
		-webkit-transform: scale(1);
						transform: scale(1);
	}
	50% {
		opacity: .7;
		-webkit-transform: scale(.5);
						transform: scale(.5);
	}
}
@keyframes grid-ball {
	0%, 100% {
		opacity: 1;
		-webkit-transform: scale(1);
						transform: scale(1);
	}
	50% {
		opacity: .7;
		-webkit-transform: scale(.5);
						transform: scale(.5);
	}
}
/* ---------- END Grid Ball ---------- */

/* ---------- Rotate Ball ---------- */
@-webkit-keyframes rotate-ball {
	0% {
		-webkit-transform: scale(1) rotate(0deg);
						transform: scale(1) rotate(0deg);
	}
	50% {
		-webkit-transform: scale(1.3) rotate(180deg);
						transform: scale(1.3) rotate(180deg);
	}
	100% {
		-webkit-transform: scale(1) rotate(360deg);
						transform: scale(1) rotate(360deg);
	}
}
@keyframes rotate-ball {
	0% {
		-webkit-transform: scale(1) rotate(0deg);
						transform: scale(1) rotate(0deg);
	}
	50% {
		-webkit-transform: scale(1.3) rotate(180deg);
						transform: scale(1.3) rotate(180deg);
	}
	100% {
		-webkit-transform: scale(1) rotate(360deg);
						transform: scale(1) rotate(360deg);
	}
}
/* ---------- END Rotate Ball ---------- */

/* ---------- Rotate Clip Ball ---------- */
@-webkit-keyframes rotate-clip-ball {
	30% {
		-webkit-transform: scale(.3);
		transform: scale(.3);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes rotate-clip-ball {
	30% {
		-webkit-transform: scale(.3);
		transform: scale(.3);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
/* ---------- END Rotate Clip Ball ---------- */

/* ---------- Square Spin ---------- */
@-webkit-keyframes square-spin {
	25% {
		-webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
						transform: perspective(100px) rotateX(180deg) rotateY(0);
	}
	50% {
		-webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
						transform: perspective(100px) rotateX(180deg) rotateY(180deg);
	}
	75% {
		-webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
						transform: perspective(100px) rotateX(0) rotateY(180deg);
	}
	100% {
		-webkit-transform: perspective(100px) rotateX(0) rotateY(0);
						transform: perspective(100px) rotateX(0) rotateY(0);
	}
}
@keyframes square-spin {
	25% {
		-webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
						transform: perspective(100px) rotateX(180deg) rotateY(0);
	}
	50% {
		-webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
						transform: perspective(100px) rotateX(180deg) rotateY(180deg);
	}
	75% {
		-webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
						transform: perspective(100px) rotateX(0) rotateY(180deg);
	}
	100% {
		-webkit-transform: perspective(100px) rotateX(0) rotateY(0);
						transform: perspective(100px) rotateX(0) rotateY(0);
	}
}
/* ---------- END Square Spin ---------- */

/* ---------- Rotate Clip Circle ---------- */
@-webkit-keyframes rotate-clip-circle {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
						transform: rotate(0deg) scale(1);
	}
	50% {
		-webkit-transform: rotate(180deg) scale(1.3);
						transform: rotate(180deg) scale(1.3);
	}
	100% {
		-webkit-transform: rotate(360deg) scale(1);
						transform: rotate(360deg) scale(1);
	}
}
@keyframes rotate-clip-circle {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
						transform: rotate(0deg) scale(1);
	}
	50% {
		-webkit-transform: rotate(180deg) scale(1.3);
						transform: rotate(180deg) scale(1.3);
	}
	100% {
		-webkit-transform: rotate(360deg) scale(1);
						transform: rotate(360deg) scale(1);
	}
}
/* ---------- END Rotate Clip Circle ---------- */

/* ---------- Rise Ball ---------- */
@-webkit-keyframes rise-ball-odd {
	0% {
		-webkit-transform: translate(0) scale(.3);
						transform: translate(0) scale(.3);
	}
	25% {
		-webkit-transform: translate(0, 20px) scale(1);
						transform: translate(0, 20px) scale(1);
	}
	75% {
		-webkit-transform: translate(0, -20px) scale(1);
						transform: translate(0, -20px) scale(1);
	}
	100% {
		-webkit-transform: translate(0) scale(.3);
						transform: translate(0) scale(.3);
	}
}
@keyframes rise-ball-odd {
	0% {
		-webkit-transform: translate(0) scale(.3);
						transform: translate(0) scale(.3);
	}
	25% {
		-webkit-transform: translate(0, 20px) scale(1);
						transform: translate(0, 20px) scale(1);
	}
	75% {
		-webkit-transform: translate(0, -20px) scale(1);
						transform: translate(0, -20px) scale(1);
	}
	100% {
		-webkit-transform: translate(0) scale(.3);
						transform: translate(0) scale(.3);
	}
}
@-webkit-keyframes rise-ball-even {
	0% {
		-webkit-transform: translate(0) scale(1);
						transform: translate(0) scale(1);
	}
	25% {
		-webkit-transform: translate(0, -20px) scale(1);
						transform: translate(0, -20px) scale(1);
	}
	50% {
		-webkit-transform: translate(0, 0) scale(.3);
						transform: translate(0, 0) scale(.3);
	}
	75% {
		-webkit-transform: translate(0, 20px) scale(1);
						transform: translate(0, 20px) scale(1);
	}
	100% {
		-webkit-transform: translate(0, 0) scale(1);
						transform: translate(0, 0) scale(1);
	}
}
@keyframes rise-ball-even {
	0% {
		-webkit-transform: translate(0) scale(1);
						transform: translate(0) scale(1);
	}
	25% {
		-webkit-transform: translate(0, -20px) scale(1);
						transform: translate(0, -20px) scale(1);
	}
	50% {
		-webkit-transform: translate(0, 0) scale(.3);
						transform: translate(0, 0) scale(.3);
	}
	75% {
		-webkit-transform: translate(0, 20px) scale(1);
						transform: translate(0, 20px) scale(1);
	}
	100% {
		-webkit-transform: translate(0, 0) scale(1);
						transform: translate(0, 0) scale(1);
	}
}
/* ---------- END Rise Ball ---------- */
/* ==================== END Keyframes ==================== */


