html,
body {
	/*demo*/
	background: #EF5362;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.loaders {
	width: 640px;
	margin: 50px auto;
}
.loaders.debug .loader {
	/*debug*/
	border: solid 1px #000000;
}
.loader {
	/*not demo*/
	/*position: absolute;*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	height: 140px;
}
.loader > div {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}
.loader .circle > div,
.loader .ball > div,
.loader .cube > div {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.loader .circle > div,
.loader .ball > div {
	-webkit-border-radius: 100%;
		 -moz-border-radius: 100%;
					border-radius: 100%;
}
.loader .ball > div,
.loader .cube > div,
.loader .line > div {
	/*demo*/
	background: #FFFFFF;
}
.loader .circle > div {
	border-style: solid;
	border-width: 2px;
	/*demo*/
	border-color: #FFFFFF;
}
.loader .line > div {
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 20px;
	-webkit-border-radius: 3px;
		 -moz-border-radius: 3px;
					border-radius: 3px;
}
/* ==================== Horizontal Ball ==================== */
.loader .horizon-ball > div {
	margin: 60px 2px;
	animation: horizon-ball .75s infinite;
}
.loader .horizon-ball > div:nth-child(1) { animation-delay: .12s; }
.loader .horizon-ball > div:nth-child(2) { animation-delay: .24s; }
.loader .horizon-ball > div:nth-child(3) { animation-delay: .36s; }
/* ==================== END Horizontal Ball ==================== */

/* ==================== Grid Ball ==================== */
.loader .grid-ball { padding-top: 20px; }
.loader .grid-ball > div {
	margin: 8px;
	animation: grid-ball .72s infinite;
}
.loader .grid-ball > div:nth-child(1) { animation-delay: .12s; }
.loader .grid-ball > div:nth-child(2) { animation-delay: .35s; }
.loader .grid-ball > div:nth-child(3) { animation-delay: .27s; }
.loader .grid-ball > div:nth-child(4) { animation-delay: .42s; }
.loader .grid-ball > div:nth-child(5) { animation-delay: .45s; }
.loader .grid-ball > div:nth-child(6) { animation-delay: .18s; }
.loader .grid-ball > div:nth-child(7) { animation-delay: .87s; }
.loader .grid-ball > div:nth-child(8) { animation-delay: .45s; }
.loader .grid-ball > div:nth-child(9) { animation-delay: .06s; }
/* ==================== END Grid Ball ==================== */

/* ==================== Rotate Circle ==================== */
.loader .rotate-circle > div {
	margin: 56px auto;
	border-top-color: transparent!important;
	animation: rotate-circle .80s infinite linear;
}
/* ==================== END Rotate Circle ==================== */

/* ==================== Rotate Clip Ball ==================== */
.loader .rotate-clip-ball > div {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
.loader .rotate-clip-ball > div:nth-child(1) {
	border-left-color: transparent!important;
	border-right-color: transparent!important;
	animation-name: rotate-circle;
	animation-timing-function: ease;
}
.loader .rotate-clip-ball > div:nth-child(2) {
	width: 12px;
	height: 12px;
	border-width: 3px;
	border-color: transparent!important;
	animation-name: rotate-clip-ball;
	animation-timing-function: cubic-bezier(.09,.57,.49,.9);
}
/* ==================== END Rotate Clip Ball ==================== */

/* ==================== Square Spin ==================== */
.loader .square-spin > div {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	animation-name: square-spin;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.25,.5,.3,.8);
}
/* ==================== END Square Spin ==================== */

/* ==================== Rotate Clip Circle ==================== */
.loader .rotate-clip-circle > div {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	animation-name: rotate-clip-circle;
	animation-iteration-count: infinite;
}
.loader .rotate-clip-circle > div:nth-child(1) {
	width: 24px;
	height: 24px;
	border-top-color: transparent!important;
	border-bottom-color: transparent!important;
	animation-duration: 1s;
}
.loader .rotate-clip-circle > div:nth-child(2) {
	width: 12px;
	height: 12px;
	border-left-color: transparent!important;
	border-right-color: transparent!important;
	animation-duration: .5s;
	animation-direction: reverse;
}
/* ==================== END Rotate Clip Circle ==================== */

/* ==================== Rise Ball ==================== */
.loader .rise-ball > div {
	width: 16px;
	height: 16px;
	margin: 60px 0;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.loader .rise-ball > div:nth-child(2n-1) {
	animation-name: rise-ball-odd;
}
.loader .rise-ball > div:nth-child(2n) {
	animation-name: rise-ball-even;
}
/* ==================== END Rise Ball ==================== */

/* ==================== Rotate Ball ==================== */
.loader .rotate-ball > div {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.loader .rotate-ball {
	animation-name: rotate-ball;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}
.loader .rotate-ball > div:nth-child(odd) {
	content: "";
	-webkit-border-radius: 100%;
		 -moz-border-radius: 100%;
					border-radius: 100%;
	opacity: .8;
}
.loader .rotate-ball > div:nth-child(1) { left: -50px; }
.loader .rotate-ball > div:nth-child(3) { right: -50px; }
/* ==================== END Rotate Ball ==================== */

/* ==================== Transition Cube ==================== */
.loader .transition-cube > div {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 30px;
	left: 30px;
	animation-name: transition-cube;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.loader .transition-cube > div:nth-child(2) { animation-delay: -0.8s; }
/* ==================== END Transition Cube ==================== */

/* ==================== Transition Ball ==================== */
.loader .transition-ball > div {
	position: absolute;
	width: 14px;
	height: 14px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	animation-name: transition-ball;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.loader .transition-ball > div:nth-child(2) {
	animation-name: transition-ball-opposite;
}
/* ==================== END Transition Ball ==================== */

/* ==================== Transition Ball Reflect ==================== */
.loader .transition-ball-reflect > div {
	position: absolute;
	width: 14px;
	height: 14px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	animation-name: transition-ball-reflect;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.loader .transition-ball-reflect > div:nth-child(2) {
	animation-name: transition-ball-reflect-opposite;
}
/* ==================== END Transition Ball Reflect ==================== */

/* ==================== Transition Ball Triangle ==================== */
.loader .transition-ball-triangle > div {
	position: absolute;
	width: 16px;
	height: 16px;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.loader .transition-ball-triangle > div:nth-child(1) {
	top: 30px;
	left: 60px;
	animation-name: transition-ball-triangle-path1;
}
.loader .transition-ball-triangle > div:nth-child(2) {
	top: 90px;
	left: 20px;
	animation-name: transition-ball-triangle-path2;
}
.loader .transition-ball-triangle > div:nth-child(3) {
	top: 90px;
	left: 100px;
	animation-name: transition-ball-triangle-path3;
}
/* ==================== END Transition Ball Triangle ==================== */

/* ==================== Scale Ball ==================== */
.loader .scale-ball > div {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	animation-name: scale-ball;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
/* ==================== END Scale Ball ==================== */

/* ==================== Scale Ball Multiple ==================== */
.loader .scale-ball-multiple > div {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	animation-name: scale-ball-multiple;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.loader .scale-ball-multiple > div:nth-child(1) {
	animation-delay: .4s;
}
.loader .scale-ball-multiple > div:nth-child(2) {
	animation-delay: .2s;
}
/* ==================== END Scale Ball Multiple ==================== */

/* ==================== Spin Ball ==================== */
.loader .spin-ball > div {
	position: absolute;
	width: 14px;
	height: 14px;
	animation-name: spin-ball;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.loader .spin-ball > div:nth-child(1) {
	top: 40px;
	left: 63px;
}
.loader .spin-ball > div:nth-child(2) {
	top: 46.78px;
	right: 46.78px;
	animation-delay: .1s;
}
.loader .spin-ball > div:nth-child(3) {
	top: 63px;
	right: 40px;
	animation-delay: .2s;
}
.loader .spin-ball > div:nth-child(4) {
	bottom: 46.78px;
	right: 46.78px;
	animation-delay: .3s;
}
.loader .spin-ball > div:nth-child(5) {
	bottom: 40px;
	left: 63px;
	animation-delay: .4s;
}
.loader .spin-ball > div:nth-child(6) {
	bottom: 46.78px;
	left: 46.78px;
	animation-delay: .5s;
}
.loader .spin-ball > div:nth-child(7) {
	top: 63px;
	left: 40px;
	animation-delay: .6s;
}
.loader .spin-ball > div:nth-child(8) {
	top: 46.78px;
	left: 46.78px;
	animation-delay: .7s;
}
/* ==================== END Spin Ball ==================== */

/* ==================== Spin Line ==================== */
.loader .spin-line > div {
	position: absolute;
	animation-name: spin-line;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.loader .spin-line > div:nth-child(1) {
	top: 40px;
	left: 67px;
}
.loader .spin-line > div:nth-child(2) {
	top: 45.93px;
	right: 53.43px;
	transform: rotate(45deg);
	animation-delay: .1s;
}
.loader .spin-line > div:nth-child(3) {
	top: 60px;
	right: 47px;
	transform: rotate(90deg);
	animation-delay: .2s;
}
.loader .spin-line > div:nth-child(4) {
	bottom: 45.93px;
	right: 53.43px;
	transform: rotate(135deg);
	animation-delay: .3s;
}
.loader .spin-line > div:nth-child(5) {
	bottom: 40px;
	left: 67px;
	animation-delay: .4s;
}
.loader .spin-line > div:nth-child(6) {
	bottom: 45.93px;
	left: 53.43px;
	transform: rotate(45deg);
	animation-delay: .5s;
}
.loader .spin-line > div:nth-child(7) {
	top: 60px;
	left: 47px;
	transform: rotate(90deg);
	animation-delay: .6s;
}
.loader .spin-line > div:nth-child(8) {
	top: 45.93px;
	left: 53.43px;
	transform: rotate(135deg);
	animation-delay: .7s;
}


.loader .time-loader > div:not(:required) {
  border: 4px solid #28B0ED;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  width: 44px;
  height: 44px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader .time-loader > div:not(:required)::before {
  -moz-animation: time-loader 1250ms infinite linear;
  -webkit-animation: time-loader 1250ms infinite linear;
  animation: time-loader 1250ms infinite linear;
  -moz-transform-origin: 3px 3px;
  -ms-transform-origin: 3px 3px;
  -webkit-transform-origin: 3px 3px;
  transform-origin: 3px 3px;
  background: #28B0ED;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 19.2px;
  left: 15px;
  top: 15px;
}
.loader .time-loader > div:not(:required)::after {
  -moz-animation: time-loader 15000ms infinite linear;
  -webkit-animation: time-loader 15000ms infinite linear;
  animation: time-loader 15000ms infinite linear;
  -moz-transform-origin: 3px 3px;
  -ms-transform-origin: 3px 3px;
  -webkit-transform-origin: 3px 3px;
  transform-origin: 3px 3px;
  background: #28B0ED;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 16px;
  left: 15px;
  top: 15px;
}
/* ==================== END Spin Line ==================== */

.layermask {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.2);
}