/* ==================== General ==================== */
*,
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}
a {
  color: #999999;
  text-decoration: none;
}
ul {
  list-style: none;
}
.icon-16 {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-size: 16px!important;
  padding: 6px 4px;
}
.icon-32 {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background-size: 32px!important;
  padding: 8px;
}
.caret-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: solid 4px rgba(153,153,153,1);
  border-left: solid 4px transparent;
  border-right: solid 4px transparent;
  border-bottom: 0 dotted;
  content: "";
}
.hide {
  display: none;
}
input[type="text"],
input[type="password"] {
  outline: 0;
  padding: 0 5px;
  border: solid 1px rgba(221,221,221,1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow:    inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow:         inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: 0.4s;
  -moz-transition:    0.4s;
  -o-transition:      0.4s;
  transition:         0.4s;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border: solid 1px #69A1C3;
  -webkit-box-shadow: inset 0 1px 1px rgba(172,201,221,0.075), 0 0 5px rgba(172,201,221,1);
  -moz-box-shadow:    inset 0 1px 1px rgba(172,201,221,0.075), 0 0 5px rgba(172,201,221,1);
  box-shadow:         inset 0 1px 1px rgba(172,201,221,0.075), 0 0 5px rgba(172,201,221,1);
}
table {
  border-collapse: collapse;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* ==================== END General ==================== */

/* ==================== Banner ==================== */
.banner {
  position: relative;
  display: block;
  width: 100%;
  height: 45px;
  top: 0;
  background: rgba(39,39,41,1);
}
.banner > div {
  float: left;
  height: 45px;
  vertical-align: top;
}
.banner-title {
  border-right: solid 1px rgba(0,0,0,1);
}
.banner-title h2 {
  width: 200px;
  color: #dedede;
  font-size: 22px;
  font-weight: 500;
  padding-left: 10px;
}
.banner-title p {
  color: #686869;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 10px;
}
.expand {
  position: relative;
  height: 100%;
  padding-left: 30px;
  border-left: solid 1px rgba(66,66,67,1);
}
.expand a {
  width: 30px;
  height: 30px;
  margin-top: 6px;
  display: block;
  background: #424243 url(../images/heineken/expand.png) no-repeat center center;
  border: solid 1px rgba(59,59,60,1);
  box-shadow: inset 0 0 5px #888;
}
.banner-control {
  float: right;
  position: relative;
  border-left: solid 1px rgba(0,0,0,1);
}
.banner-control > li {
  display: inline-block;
  height: 45px;
  vertical-align: top;
  border-left: solid 1px rgba(66,66,67,1);
  border-right: solid 1px rgba(0,0,0,1);
  padding: 0 26px;
  position: relative;
}
.banner-control > li:last-child {
  border-right: none;
}
.banner-control > li > a {
  height: 100%;
  line-height: 45px;
  display: block;
  font-size: 14px;
  position: relative;
}
.theme-icon {
  background: url(../images/heineken/theme.png) no-repeat center center;
}
.profile-icon {
  background: url(../images/heineken/profile.png) no-repeat center center;
}
.dropdown {
  position: absolute;
  left: -5px;
  width: 100%;
  border: solid 1px rgba(221,221,221,1);
  border-top: none;
  -webkit-box-shadow: -1px 2px 2px rgba(0,0,0,0.075);
  -moz-box-shadow:    -1px 2px 2px rgba(0,0,0,0.075);
  box-shadow:         -1px 2px 2px rgba(0,0,0,0.075);
  display: none;
  z-index: 1000;
}
.dropdown li {
  height: 40px;
  background: rgba(245,245,245,1);
  border-bottom: solid 1px rgba(221,221,221,1);
  box-shadow: inset 0 1px 1px #fff;
}
.dropdown a {
  height: 40px;
  line-height: 40px;
  display: block;
  color: #333;
  font-size: 12px;
  padding: 0 10px;
  position: relative;
}
.dropdown a i {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.settings-icon {
  background: url(../images/heineken/settings.png) no-repeat center center;
}
.logout-icon {
  background: url(../images/heineken/logout.png) no-repeat center center;
}
/* ==================== END Banner ==================== */


/* ==================== Body Container ==================== */
.body-container {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.body-container > div {
  height: 100%;
}
/* ---------- Sidebar ---------- */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  background: rgba(245,245,245,1);
  border-right: 1px solid #d0d0d0;
  -webkit-box-shadow: inset -2px 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    inset -2px 0 5px rgba(0, 0, 0, 0.1);
  box-shadow:         inset -2px 0 5px rgba(0, 0, 0, 0.1); 
}
.quick-search {
  text-align: center;
  padding: 15px 0;
}
.quick-search input {
  width: 85%;
  height: 30px;
  padding-left: 5px;
  padding-right: 27px;
  background: url(../images/heineken/search.png) no-repeat 95% center;
  background-size: 16px 16px;
}
.nav > div {
  line-height: 38px;
  border-bottom: solid 1px #ddd;
}
.nav-title {
  text-transform: uppercase;
  color: #AFAFAF;
  font-size: 16px;
  font-weight: 400;
  background: rgba(236,236,236,1);
  border-top: solid 1px #ddd;
  padding-left: 20px;
}
.nav-item {
  position: relative;
  -webkit-box-shadow: inset 0 1px 1px #fff;
  -moz-box-shadow:    inset 0 1px 1px #fff;
  box-shadow:         inset 0 1px 1px #fff;
}
.nav-item.active {
  background: rgba(255,255,255,1);
}
.nav-item.active:hover {
  background: rgba(255,255,255,1);
}
.nav-item.active:after {
  position: absolute;
  width: 8px;
  top: 0;
  bottom: 0;
  right: -9px;
  content: "";
  background: rgba(24,200,40,1);
}
.nav-item a {
  line-height: 38px;
  display: block;
  font-size: 13px;
  color: #222222;
  margin-left: 20px;
}
.nav-item a i {
  margin-top: -4px;
}
.home-icon {
  background: url(../images/heineken/home.png) no-repeat left center;
}
.form-icon {
  background: url(../images/heineken/form.png) no-repeat left center;
}
.table-icon {
  background: url(../images/heineken/table.png) no-repeat left center;
}
.nav-item:hover {
  background: rgba(239,239,239,1)
}
.nav-item.active .sub-menu li {
  border-top: none;
}
.sub-menu li:first-child {
  border-top: solid 1px #ddd;
}
.sub-menu li {
  background: #fff;
}
.sub-menu li a {
  line-height: 28px;
}
.sub-menu li:hover {
  background: rgba(250,250,250,1);
}
.sub-menu li.active {
  background: rgba(250,250,250,1);
}
/* ---------- END Sidebar ---------- */


.body {
  background: rgba(245,245,245,1);
  padding-left: 218px;
  overflow: hidden;
}
.body-content {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  border-left: solid 1px rgba(221,221,221,1);
  overflow: auto;
}
/* ---------- Current Position ---------- */
.current-position {
  height: 30px;
  padding-left: 10px;
  background: rgba(250,250,250,1);
  border-bottom: solid 1px rgba(221,221,221,1);
}
.current-position a {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #333;
  padding: 0 10px;
}
.current-position a + a {
  border-left: solid 1px #ccc;
}
.current-position a i {
  margin-top: -3px;
}
/* ---------- END Current Position ---------- */


/* ---------- Page Banner ---------- */
.page-banner {
  min-width: 133px;
  height: 60px;
  line-height: 60px;
}
.dashboard-icon {
  background: url(../images/heineken/dashboard.png) no-repeat center center;
}
.wizards-icon {
  background: url(../images/heineken/wizards.png) no-repeat center center;
}
/* ---------- END Page Banner ---------- */


/* ---------- Control Area ---------- */
.control-area {
  background: rgba(245,245,245,1);
  border-top:     solid 1px rgba(221,221,221,1);
  border-bottom:  solid 1px rgba(221,221,221,1);
  
}
.control-area > a {
  display: inline-block;
  line-height: 35px;
  padding: 0 10px;
  color: #4b4b4b;
  font-size: 13px;
  font-weight: 500;
  text-shadow: 0 1px 1px #fff;
}
.control-area > a:hover {
  text-decoration: underline;
}
.control-area > a + a {
  border-left: solid 1px rgba(221,221,221,1);
  -webkit-box-shadow: inset 1px 0 1px #fff;
  -moz-box-shadow:    inset 1px 0 1px #fff;
  box-shadow:         inset 1px 0 1px #fff;
}
/* ---------- END Control Area ---------- */


/* ---------- Account Status ---------- */
.account-status > div {
  display: inline-block;
  vertical-align: top;
}
.account-summary {
  width: 25%;
  min-width: 116px;
}
.account-summary > span,
.account-summary a {
  display: inline-block;
  border-bottom: solid 4px rgba(238,238,238,1);
  padding-bottom: 5px;
}
.account-summary > span {
  margin: 20px 0 0 10px;
  width: 30%;
  border-bottom: solid 4px rgba(24,200,40,1);
}
.account-summary a {
  width: 60%;
  text-align: right;
  color: rgba(24,152,40,1);
  font-size: 12px;
  font-weight: 300;
}
.account-summary p {
  width: 90%;
  margin: 10px 0 0 10px;
  color: #575655;
  font-size: 13px;
  font-weight: 300;
}
.account-summary b {
  float: right;
  font-size: 18px;
  font-weight: 400;
}
.account-detail {
  width: 75%;
}
.detail-item {
  display: inline-block;
  vertical-align: top;
  height: 80px;
  padding: 0 20px;
  margin: 10px 0 10px 10px;
  background: rgba(245,245,245,1);
  white-space: nowrap;
}
.detail-item > * {
  display: inline-block;
  vertical-align: middle;
  height: 64px;
  color: #222;
}
.detail-item h4 {
  margin-top: 10px;
  color: rgba(24,152,40,1);
}
.active-icon {
  background: url(../images/heineken/active.png) no-repeat center center;
}
.backup-icon {
  background: url(../images/heineken/backup.png) no-repeat center center;
}
.storage-icon {
  background: url(../images/heineken/storage.png) no-repeat center center;
}
.destroyed-icon {
  background: url(../images/heineken/destroyed.png) no-repeat center center;
}
/* ---------- END Account Status ---------- */


/* ---------- Tab Container ---------- */
.tab-container {
  border-bottom: solid 1px rgba(229,229,229,1);
  padding: 0 10px;
  white-space: nowrap;
}
.tab-container > div + div {
  border-left: none;
}
.tab-item {
  display: inline-block;
  padding: 8px 20px;
  border: solid 1px rgba(229,229,229,1);
  border-bottom: none;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: -1px;
}
.tab-item:hover {
  text-decoration: underline;
}
.tab-item.active {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f7f7f7, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #ffffff);
  background-image: -o-linear-gradient(top, #f7f7f7, #ffffff);
  background-image: linear-gradient(to bottom, #f7f7f7, #ffffff);
  background-repeat: repeat-x;
}
.chart {
  padding: 10px 0;
}
.chart > span {
  display: block;
  position: relative;
  margin: 0 15px;
  padding-bottom: 5px;
  border-bottom: solid 4px rgba(238,238,238,1);
}
.chart > span b {
  color: #222222;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: -4px;
  padding-bottom: 5px;
  border-bottom: solid 4px rgba(24,200,40,1);
}
.line-chart {
  clear: both;
}
#line-chart {
  margin: 0 auto;
  margin-top: 10px;
}
.pie-chart {
  float: left;
}
#pie-chart {
  margin-top: 10px;
}
.bar-chart {
  float: left;
}
#bar-chart {
  margin-top: 10px;
}
/* ---------- END Tab Container ---------- */


/* ---------- Recent Activity ---------- */
.recent-activity {
  clear: both;
  border-top:     solid 1px rgba(229,229,229,1);
  border-bottom:  solid 1px rgba(229,229,229,1);
  padding: 15px 0;
  background: rgba(250,250,250,1);
}
.recent-activity h4 {
  color: #575655;
  font-size: 13px;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.activity-item {
  width: 90%;
  padding: 10px 15px;
  margin: 5px auto;
  background: #fff;
  border: solid 1px rgba(221,221,221,1);
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  border-radius:          4px;
}
.activity-item.most-recent {
  border: solid 1px rgba(24,152,40,1);
  background: rgba(24,200,40,0.1);
}
.activity-item > span {
  font-size: 12px;
}
.activity-item > span a {
  color: rgba(24,152,40,1);
}
.activity-item > span a:hover {
  text-decoration: underline;
}
.activity-icon {
  background: url(../images/heineken/activity.png) no-repeat center center;
}
/* ---------- END Recent Activity ---------- */


/* ---------- Page Description ---------- */
.page-description {
  width: 95%;
  margin: 1% auto;
}
.page-description h4 {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 4px rgba(238,238,238,1);
}
.page-description h4 span {
  color: #222222;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: -4px;
  padding-bottom: 5px;
  border-bottom: solid 4px rgba(24,200,40,1);
}
.page-description p {
  font-size: 12px;
  color: #333;
  margin-top: 10px;
}
/* ---------- END Page Description ---------- */


/* ---------- Input Controls ---------- */
.input-controls {
  width: 95%;
  margin: 1% auto;
}
.input-controls > div {
  width: 48%;
  margin: 8px 0;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.input-controls > div > span {
  display: block;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 4px rgba(238,238,238,1);
}
.input-controls > div > span b {
  color: #222222;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: -4px;
  padding-bottom: 5px;
  border-bottom: solid 4px rgba(24,200,40,1);
}
.input-controls > div input[type="text"] {
  width: 60%;
  height: 30px;
  margin-top: 10px;
}
#filter-btn {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 28px;
  margin-top: 10px;
  text-align: center;
  border: solid 1px rgba(218,218,218,1);
  border-left: none;
  background: #fefefe;
  background: -moz-linear-gradient(top,  #fefefe 0%, #e7e7e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e7e7e7));
  background: -webkit-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%);
  background: -o-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%);
  background: -ms-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%);
  background: linear-gradient(to bottom,  #fefefe 0%,#e7e7e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e7e7e7',GradientType=0 );
  cursor: pointer;
}
#filter-btn:hover,
#dropdown-btn:hover {
  background: rgba(238,238,238,1);
}
#filter-btn i {
  background: url(../images/heineken/filter.png) no-repeat center center;
}
#email-btn {
  display: inline-block;
  vertical-align: top;
  min-width: 30px;
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
  margin-top: 10px;
  text-align: center;
  border: solid 1px rgba(218,218,218,1);
  border-right: none;
}
#dropdown-btn {
  display: inline-block;
  vertical-align: top;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  margin-top: 10px;
  color: #000;
  font-size: 14px;
  text-shadow: 0 1px 1px #fff;
  border: solid 1px rgba(218,218,218,1);
  border-left: none;
  background: #fefefe;
  background: -moz-linear-gradient(top,  #fefefe 0%, #e7e7e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e7e7e7));
  background: -webkit-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%);
  background: -o-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%);
  background: -ms-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%);
  background: linear-gradient(to bottom,  #fefefe 0%,#e7e7e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e7e7e7',GradientType=0 );
}
.dropdown-menu {
  position: absolute;
  left: 60%;
  margin-top: 1px;
  background: #fff;
  border: solid 1px rgba(200,200,200,1);
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  border-radius:          4px;
  -webkit-box-shadow: 0 1px 3px #ccc;
  -moz-box-shadow:    0 1px 3px #ccc;
  box-shadow:         0 1px 3px #ccc;
  z-index: 2000;
  display: none;
}
.dropdown-menu li {
  height: 30px;
}
.dropdown-menu li.divider {
  height: 0;
  border-bottom: solid 1px rgba(229,229,229,1);
}
.dropdown-menu li a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 13px;
  color: #222;
}
label[name="checkbox"],
label[name="radio"] {
  line-height: 25px;
  font-size: 13px;
  cursor: pointer;
}
label[name="checkbox"] span,
label[name="radio"] span {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  background-position: 0 0;
  cursor: pointer;
}
label[name="checkbox"] span {
  background: url(../images/heineken/checkbox.png) no-repeat;
}
label[name="radio"] span {
  background: url(../images/heineken/radio.png) no-repeat;
}
label[name="checkbox"] span:hover {
  background-position: -19px 0;
}
label[name="checkbox"] span.checked {
  background-position: -76px 0;
}
label[name="checkbox"] span.checked:hover {
  background-position: -95px 0;
}
label[name="checkbox"] input,
label[name="radio"] input {
  opacity: 0;
  cursor: pointer;
}
label[name="radio"] span:hover {
  background-position: -18px 0;
}
label[name="radio"] span.checked {
  background-position: -72px 0;
}
label[name="radio"] span.checked:hover {
  background-position: -90px 0;
}
/* ---------- END Input Controls ---------- */


/* ---------- Vertical Wizards ---------- */
.vertical-wizards,
.horizontal-wizards {
  width: 95%;
  margin: 1% auto;
  border: solid 1px rgba(229,229,229,1);
}
.vertical-wizards > div {
  display: inline-block;
  vertical-align: top;
}
.vertical-wizards .wizards-steps {
  width: 30%;
  border-right: solid 1px rgba(209,210,211,1);
}
.vertical-wizards .wizards-steps > div {
  padding: 5px 10px;
  background: rgba(225,225,227,1);
  cursor: pointer;
}
.vertical-wizards .wizards-steps > div.active {
  background: rgba(245,245,245,1);
}
.vertical-wizards .wizards-steps > div + div {
  border-top: solid 1px rgba(209,210,211,1);
  -webkit-box-shadow: inset 0 1px 1px #fff;
  -moz-box-shadow:    inset 0 1px 1px #fff;
  box-shadow:         inset 0 1px 1px #fff;
}
.vertical-wizards .wizards-steps > div > * {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-weight: 400;
  color: #939393;
  text-shadow: 0 1px 1px #fff;
}
.vertical-wizards .wizards-steps > div:hover > * {
  text-decoration: underline;
}
.vertical-wizards .wizards-steps h4 {
  font-size: 14px;
  font-weight: 500;
}
.billing-icon {
  background: url(../images/heineken/billing.png) no-repeat center center;
}
.payment-icon {
  background: url(../images/heineken/payment.png) no-repeat center center;
}
.confirm-icon {
  background: url(../images/heineken/confirm.png) no-repeat center center;
}
.wizards-content {
  width: 69%;
}
.wizards-content > div {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 2%;
}
.content-title {
  width: 36%;
  font-size: 12px;
  font-weight: 400;
  color: #999;
}
.content-body {
  width: 60%;
}
.content-title h4,
.content-body span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.content-body input {
  width: 80%;
  height: 30px;
}
/* ---------- END Vertical Wizards ---------- */


/* ---------- Horizontal Wizards ---------- */
.horizontal-wizards .wizards-steps > div {
  position: relative;
  display: inline-block;
  line-height: 40px;
  padding: 0 5px 0 25px;
  font-size: 14px;
  font-weight: 300;
  color: rgba(24,152,40,1);
  background: rgba(250,250,250,1);
  cursor: pointer;
}
.horizontal-wizards .wizards-steps > div.active {
  background: rgba(24,200,40,1);
  color: #fff;
}
.horizontal-wizards .wizards-steps > div:after,
.horizontal-wizards .wizards-steps > div.active:after,
.horizontal-wizards .wizards-steps > div:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  margin: auto;
  width: 0;
  height: 0;
  border-top: solid 20px transparent;
  border-bottom: solid 20px transparent;
  border-right: none;
  z-index: 2000;
}
.horizontal-wizards .wizards-steps > div:after {
  border-left: solid 20px rgba(250,250,250,1);
}
.horizontal-wizards .wizards-steps > div.active:after {
  border-left: solid 20px rgba(24,200,40,1);
}
.horizontal-wizards .wizards-steps > div:before {
  right: -24px;
  border-left: solid 20px #fff;
}
.horizontal-wizards .wizards-progress {
  display: block;
  line-height: 40px;
  background: rgba(226,226,228,1);
  border-top: solid 1px rgba(209,210,211,1);
  border-bottom: solid 1px rgba(209,210,211,1);
  -webkit-box-shadow: inset 0 1px 1px #fff;
  -moz-box-shadow:    inset 0 1px 1px #fff;
  box-shadow:         inset 0 1px 1px #fff;
}
.horizontal-wizards .wizards-progress > div {
  width: 0%;
  height: 40px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  font-weight: 300;
  background: rgba(24,200,40,1);
  box-shadow: 1px 0 2px #fff;
}
.horizontal-wizards .wizards-content {
  width: 100%;
  height: 200px;
  background: rgba(245,245,245,1);
}
/* ---------- END Horizontal Wizards ---------- */


/* ---------- Section Seperator ---------- */
.section-seperator {
  width: 93%;
  margin: 2% auto;
  padding: 7px 1%;
  font-size: 14px;
  background: rgba(233,233,233,1);
  border: solid 1px rgba(209,210,211,1);
  box-shadow: inset 0 1px 1px #fff;
  clear: both;
}
/* ---------- END Section Seperator ---------- */


/* ---------- Tables ---------- */
.table-tools {
  width: 95%;
  margin: 0 auto;
  background: rgba(245,245,245,1);
  border: solid 1px rgba(209,210,211,1);
}
.table-tools .tools {
  width: 100%;
  height: 40px;
  background: rgba(225,225,227,1);
  border-bottom: solid 1px rgba(209,210,211,1);
  -webkit-box-shadow: inset 0 1px 1px #fff;
  -moz-box-shadow:    inset 0 1px 1px #fff;
  box-shadow:         inset 0 1px 1px #fff;
  text-align: justify;
}
.table-tools .tools > * {
  display: inline-block;
  position: relative;
  top: 7px;
}
.table-tools .tools:before {
  content: '';
  display: block;
  width: 100%;
}
.table-tools .tools:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.table-tools .tools ul {
  margin-left: 10px;
  border: solid 1px rgba(179,179,179,1);
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  border-radius:          4px;
  overflow: hidden;
}
.table-tools .tools ul li {
  display: inline-block;
  padding: 5px 8px;
  background: #fefefe;
  background: -moz-linear-gradient(top,  #fefefe 0%, #e7e7e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e7e7e7));
  background: -webkit-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%);
  background: -o-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%);
  background: -ms-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%);
  background: linear-gradient(to bottom,  #fefefe 0%,#e7e7e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e7e7e7',GradientType=0 );
}
.table-tools .tools ul li + li {
  border-left: solid 1px rgba(179,179,179,1);
}
.table-tools .tools ul li a {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  text-shadow: 0 1px 1px #fff;
}
.table-tools .tools ul li:hover {
  background: rgba(230,230,230,1);
}
.table-tools .tools label.filter {
  margin-right: 10px;
}
.table-tools .tools label {
  font-size: 13px;
  color: #333;
}
.table-tools .tools input {
  height: 25px;
  border: solid 1px rgba(179,179,179,1);
  -webkit-border-radius:  20px;
  -moz-border-radius:     20px;
  border-radius:          20px;
}
.table-tools table {
  width: 98%;
  margin: 10px auto;
  border: solid 1px rgba(215,216,218,1);
}
.table-tools table thead th {
  height: 30px;
  font-size: 13px;
  font-weight: 500;
  color: #555;
  text-shadow: 0 1px 1px #fff;
  border: solid 1px #D7D8DA;
  background: #fefefe;
  background: -moz-linear-gradient(top,  #fefefe 0%, #e4e9f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e4e9f4));
  background: -webkit-linear-gradient(top,  #fefefe 0%,#e4e9f4 100%);
  background: -o-linear-gradient(top,  #fefefe 0%,#e4e9f4 100%);
  background: -ms-linear-gradient(top,  #fefefe 0%,#e4e9f4 100%);
  background: linear-gradient(to bottom,  #fefefe 0%,#e4e9f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e4e9f4',GradientType=0 );
}
.table-tools table tbody td {
  height: 30px;
  font-size: 13px;
  text-shadow: 0 1px 1px #fff;
  text-align: center;
  border: solid 1px #D7D8DA;
}
.table-tools table tbody tr:nth-child(even) td {
  background: rgba(249,249,249,1);
}
/* ---------- END Tables ---------- */
/* ==================== END Body Container ==================== */


/* ==================== Footer ==================== */
.footer {
  position: relative;
  display: block;
  width: 100%;
  height: 45px;
  bottom: 0;
  background: rgba(39,39,41,1);
}

/* ==================== END Footer ==================== */



/* ==================== Responsive Design ==================== */
@media screen
and (max-width: 672px) {
  .banner {
    height: 90px;
    min-width: 408px;
  }
}
/* ==================== END Responsive Design ==================== */