/* ==================== Global ==================== */
*,
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background: url(../images/cream_pixels.png) repeat;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
}
h2 {
  font-size: 16px;
  font-weight: normal;
}
form {
  margin: 0;
}
input[type="text"],
input[type="password"] {
  outline: 0;
  background: none;
  border: solid 1px rgba(213,213,213,1);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition:    border linear 0.2s, box-shadow linear 0.2s;
  -o-transition:      border linear 0.2s, box-shadow linear 0.2s;
  transition:         border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 0 3px rgba(238,238,238,1);
  -moz-box-shadow:    inset 0 0 3px rgba(238,238,238,1);
  box-shadow:         inset 0 0 3px rgba(238,238,238,1);
}
input[type="text"]:focus,
input[type="password"]:focus {
  border: solid 1px rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow:    inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow:         inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.btn-bg {
  position: relative;
  background: rgb(236,236,236);
  background: -moz-linear-gradient(top,  rgba(236,236,236,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,236,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 );
  border: solid 1px #dbdbdb;
  -webkit-border-radius:  40px;
  -moz-border-radius:     40px;
  border-radius:          40px;
}
.btn-inner {
  position: relative;
  background: url(../images/banner-bg.png) repeat-x;
}
.caret {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  margin-left: 4px;
  border-top: solid 4px rgba(0,0,0,1);
  border-left: solid 4px transparent;
  border-right: solid 4px transparent;
}
.hide {
  display: none;
}
.container {
  position: relative;
}
table.create-plan {
  width: 80%;
  margin: 0 auto;
}
table.create-plan thead th {
  height: 30px;
  font-size: 12px;
  text-shadow: 0 1px 1px #fff;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
  border: solid 1px rgba(227,227,227,1);
}
table.create-plan tbody td {
  border: solid 1px rgba(227,227,227,1);
  text-align: center;
  height: 25px;
  font-size: 12px;
}
table.create-plan tbody tr:nth-child(even) td {
  background: rgba(245,245,245,1);
}
table.create-plan tbody tr:nth-child(odd) td {
  background: rgba(255,255,255,1);
}
table.create-plan tbody tr:hover td {
  background: rgba(255,241,241,1);
}
table.create-plan tbody tr td a {
  width: 50px;
  height: 20px;
  margin: 0 auto;
  line-height: 21px;
  font-size: 12px;
  color: rgba(152,156,159,1);
  background: #fff;
  border: solid 1px rgba(152,156,159,1);
  -webkit-border-radius:  15px;
  -moz-border-radius:     15px;
  border-radius:          15px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -moz-transition:    0.4s;
  -o-transition:      0.4s;
  transition:         0.4s;
}
table.create-plan tbody tr td a:hover {
  background: #ddd;
  color: #fff;
}
/* ==================== END Global ==================== */


/* ==================== Banner ==================== */
.banner {
  padding: 10px 30px;
  background: rgba(255,255,255,1);
  box-shadow: 0 1px 5px rgba(0,0,0,0.7);
  position: relative;
}
.banner .logo {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 50px;
  background: url(../images/logo.png) no-repeat center center;
  background-size: 120px 50px;
  border: solid 1px #ccc;
  -webkit-border-radius:  10px;
  -moz-border-radius:     10px;
  border-radius:          10px;
  -webkit-box-shadow: inset 0 0 4px #ccc;
  -moz-box-shadow:    inset 0 0 4px #ccc;
  box-shadow:         inset 0 0 4px #ccc;
}
.banner h1 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgba(83,83,83,1);
  text-transform: uppercase;
}
.banner h1 span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
}
.banner > a {
  position: absolute;
  top: 30%;
  right: 20px;
  height: 24px;
  line-height: 24px;
  color: rgba(152,156,159,1);
  padding-right: 25px;
  background: url(../images/back-to.png) no-repeat right center;
  background-size: 20px;
}
/* ==================== END Banner ==================== */


/* ==================== Body ==================== */
.body {
  position: relative;
}
#prev,
#next {
  position: absolute;
  width: 100px;
  height: 100%;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -moz-transition:    0.4s;
  -o-transition:      0.4s;
  transition:         0.4s;
  z-index: 1000;
  background: rgba(255,255,255,0.3);
}
#prev > span,
#next > span {
  position: absolute;
  width: 100%;
  height: 60px;
  text-align: center;
  top: 45%;
}
#prev > span {
  background: url(../images/slide-arrow-left.png) no-repeat center center;
  background-size: 20px 30px;
}
#next > span {
  background: url(../images/slide-arrow-right.png) no-repeat center center;
  background-size: 20px 30px;
}
#prev {
  left: 0;
}
#next {
  right: 0;
}
#prev:hover,
#next:hover {
  background: rgba(255,255,255,0.6);
  -webkit-box-shadow: 0 0 1px #aaa;
  -moz-box-shadow:    0 0 1px #aaa;
  box-shadow:         0 0 1px #aaa;
}
.question-container {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 80%;
  margin-top: 60px;
  padding: 0 0 10px 0;
  white-space: nowrap;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  -moz-box-shadow:    0 1px 5px rgba(0,0,0,0.1);
  box-shadow:         0 1px 5px rgba(0,0,0,0.1);
  overflow: hidden;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.background > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.error_content {
  position: absolute;
  top: -35px;
  left: 15%;
  border: solid 1px rgba(70,136,71,0.6);
  background: rgba(223,240,216,1);
  font-size: 12px;
  color: rgba(70,136,71,1);
  padding: 5px 10px;
  margin-left: 10px;
}
.instruction-banner {
  width: 70%;
  margin: 30px auto 20px; 
  padding: 10px 0 20px 0;
  border-bottom: solid 1px #ccc;
}
.instruction-banner .logo {
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  height: 90px;
  background: url(../images/logo.png) no-repeat center center;
  background-size: 170px 90px;
  border: solid 1px #ccc;
  -webkit-border-radius:  10px;
  -moz-border-radius:     10px;
  border-radius:          10px;
  -webkit-box-shadow: inset 0 0 4px #ccc;
  -moz-box-shadow:    inset 0 0 4px #ccc;
  box-shadow:         inset 0 0 4px #ccc;
}
.instruction-banner > h1 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 50px;
  font-weight: 600;
  color: rgba(83,83,83,1);
  text-transform: uppercase;
}
.instruction-banner > h1 span {
  display: block;
  font-size: 20px;
  margin-left: 7px;
}
.question,
.instruction {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 70%;
  margin: 0 15%;
  border: solid 1px rgba(201,201,201,1);
  -webkit-border-radius:  10px;
  -moz-border-radius:     10px;
  border-radius:          10px;
  white-space: normal;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  -moz-box-shadow:    0 1px 4px rgba(0,0,0,0.3);
  box-shadow:         0 1px 4px rgba(0,0,0,0.3);
  overflow: hidden;
}
.question {
  margin-top: 10px;
}
.instruction {
  margin-top: 20px;
}
.qtitle,
.instruction > h1 {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  text-align: center;
  color: rgba(51,51,51,0.8);
  font-size: 18px;
  font-weight: 900;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow:    0 1px 2px #ccc;
  box-shadow:         0 1px 2px #ccc;
}
.instruction > h1 {
  font-size: 20px;
  text-align: left;
}
.instruction-body {
  padding: 20px;
}
.instruction-body > p {
  margin: 10px 0;
  padding: 5px 0;
  font-size: 16px;
  text-align: justify;
  text-indent: 25px;
  line-height: 22px;
  text-shadow: 0 1px 1px #fff;
  color: rgba(95,95,95,1);
}
.instruction-body > p > a {
  display: inline;
}
.instruction-body > ol {
  margin-left: 50px;
}
.instruction-body > ol li {
  line-height: 22px;
  color: rgba(95,95,95,1);
}
input[name="action-btn"] {
  display: block;
  margin: auto;
  margin-top: 20px;
  -webkit-appearance: button;
  appearance: button;
  border: solid 1px rgba(53,126,189,1);
  background: rgba(66,139,202,0.9);
  height: 40px;
  padding: 0 50px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  position: relative;
}
input[name="action-btn"]:hover {
  background: rgba(50,118,177,1);
}
.qbody,
.instruction-body {
  background: url(../images/qbody-bg.png) repeat-y center center;
  background-size: 100%;
  overflow: hidden;
}
.qcontent p {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px;
  background: #fff;
  color: rgba(152,156,159,1);
  font-size: 14px;
  -webkit-border-radius:  6px;
  -moz-border-radius:     6px;
  border-radius:          6px;
  -webkit-box-shadow: 0 1px 4px #aaa;
  -moz-box-shadow:    0 1px 4px #aaa;
  box-shadow:         0 1px 4px #aaa;
  position: relative;
  /*
  background: url(../images/create1.png) repeat-x;
  color: #000;
  text-shadow: 0 1px 1px #fff;
  */
}
.qcontent p:before {
  content: "";
  width: 12px;
  height: 21px;
  display: block;
  position: absolute;
  left: -10px;
  background: url(../images/left-arrow.png) no-repeat;
}
.answer-area textarea {
  position: relative;
  display: block;
  width: 80%;
  height: 300px;
  margin: 10px auto;
  margin-bottom: 1px;
  padding: 5px;
  outline: 0;
  resize: none;
  border: solid 1px #aaa;
  -webkit-border-radius:  10px;
  -moz-border-radius:     10px;
  border-radius:          10px;
  -webkit-transition: 0.4s;
  -moz-transition:    0.4s;
  -o-transition:      0.4s;
  transition:         0.4s;
}
.answer-area textarea.toolong {
  border: solid 1px rgba(223,181,180,1);
  background: rgba(252,242,242,1);
}
.qfooter,
.instruction-footer {
  height: 40px;
  -webkit-box-shadow: 0 -1px 2px #ccc;
  -moz-box-shadow:    0 -1px 2px #ccc;
  box-shadow:         0 -1px 2px #ccc;
}
.qfooter {
  height: 40px;
  text-align: center;
}
.qfooter input[type="button"] {
  width: 120px;
  height: 30px;
  line-height: 26px;
  margin-top: 5px;
  font-size: 14px;
  color: rgba(152,156,159,1);
  background: #fff;
  border: solid 1px rgba(152,156,159,1);
  -webkit-border-radius:  15px;
  -moz-border-radius:     15px;
  border-radius:          15px;
  cursor: pointer;
}
.statistics {
  height: 100%;
  padding: 5px 0;
}
.statistics ul {
  width: 80%;
  margin: 0 auto;
}
.statistics ul li {
  display: inline-block;
  color: rgba(66,68,70,1);
  font-size: 12px;
  min-width: 200px;
}
.statistics .letter-count {
  display: block;
  height: 24px;
  line-height: 24px;
  background: url(../images/letter-count.png) no-repeat left center;
  background-size: 20px;
  padding: 0 10px 0 25px;
}
.statistics .letter-count span {
  color: red;
  display: none;
}
/* ==================== END Body ==================== */


/* ==================== Footer ==================== */
/* ==================== END Footer ==================== */


/* ==================== Responsive Layout ==================== */
@media screen
and (min-height: 1080px) {
  .answer-area textarea {
    height: 600px;
  }
}
@media screen
and (max-height: 1080px)
and (min-height: 768px) {
  .answer-area textarea {
    height: 400px;
  }
}
@media screen
and (max-height: 768px) {
  .answer-area textarea {
    height: 200px;
  }
}
/* ==================== END Responsive Layout ==================== */

