html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background: url(../images/wrapper-bg.png) repeat;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
}
h2 {
  font-size: 16px;
  font-weight: normal;
}
form {
  margin: 0;
}
input[type="text"],
input[type="password"] {
  outline: 0;
  background: none;
  border: solid 1px rgba(213,213,213,1);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition:    border linear 0.2s, box-shadow linear 0.2s;
  -o-transition:      border linear 0.2s, box-shadow linear 0.2s;
  transition:         border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 0 3px rgba(238,238,238,1);
  -moz-box-shadow:    inset 0 0 3px rgba(238,238,238,1);
  box-shadow:         inset 0 0 3px rgba(238,238,238,1);
}
input[type="text"]:focus,
input[type="password"]:focus {
  border: solid 1px rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow:    inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow:         inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[readonly] {
  background: rgba(248,248,248,0.5);
  cursor: not-allowed;
}
input[readonly]:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  border: solid 1px rgba(213,213,213,1);
}
.btn-bg {
  position: relative;
  background: rgb(236,236,236);
  background: -moz-linear-gradient(top,  rgba(236,236,236,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,236,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 );
  border: solid 1px #dbdbdb;
  -webkit-border-radius:  40px;
  -moz-border-radius:     40px;
  border-radius:          40px;
}
.btn-inner {
  position: relative;
  background: url(../images/banner-bg.png) repeat-x;
}
.caret {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  margin-left: 4px;
  border-top: solid 4px rgba(0,0,0,1);
  border-left: solid 4px transparent;
  border-right: solid 4px transparent;
}
.hide {
  display: none;
}
.container {
  position: relative;
  overflow: hidden;
}
div.ui-datepicker{
 font-size:12px;
}

/* ============================== Banner ============================== */
.banner {
  width: 100%;
  height: 43px;
  -webkit-box-shadow: 0 0 5px rgba(160,160,160,1);
  -moz-box-shadow:    0 0 5px rgba(160,160,160,1);
  box-shadow:         0 0 5px rgba(160,160,160,1);
  position: absolute;
  z-index: 1000;
}
.banner .start-btn,
.banner .change-theme,
.banner .logout,
.banner .tabstoggle,
.banner .fullscreen {
  width: 100px;
  height: 35px;
  position: relative;
  margin-top: 3px;
}
.banner .start-btn {
  float: left;
  margin-left: 10px;
}
.banner .change-theme,
.banner .logout,
.banner .tabstoggle,
.banner .fullscreen {
  float: right;
  margin-right: 10px;
}
.banner .change-theme {
  width: 120px;
}
.banner .logout {
  width: 35px;
}
.banner .tabstoggle,
.banner .fullscreen {
  width: 35px;
  height: 100%;
  margin-top: 0;
}
.banner .start-btn > a,
.banner .change-theme > a,
.banner .logout > a {
  height: 27px;
  line-height: 27px;
  text-align:center;
  margin: 0 auto;
  margin-top: 3px;
  -webkit-border-radius:  40px;
  -moz-border-radius:     40px;
  border-radius:          40px;
  border: solid 1px #dbdbdb;
  -webkit-box-shadow: 0 1px 2px rgba(160,160,160,0.7);
  -moz-box-shadow:    0 1px 2px rgba(160,160,160,0.7);
  box-shadow:         0 1px 2px rgba(160,160,160,0.7);
  -webkit-trasition:  0.4s;
  -moz-transition:    0.4s;
  -o-transition:      0.4s;
  transition:         0.4s;
}
.banner .start-btn > a {
  width: 88px;
}
.banner .change-theme a {
  width: 107px;
}
.banner .logout a {
  width: 27px;
}
.banner .tabstoggle a,
.banner .fullscreen a {
  height: 43px;
  display: block;
  padding-top: 1px;
  -webkit-transition: 0.4s;
  -moz-transition:    0.4s;
  -o-transition:      0.4s;
  transition:         0.4s;
}
.banner .start-btn > a:hover,
.banner .change-theme > a:hover,
.banner .logout > a:hover {
  -webkit-trasition:  0.4s;
  -moz-transition:    0.4s;
  -o-transition:      0.4s;
  transition:         0.4s;
}
.banner .start-btn > a:active,
.banner .change-theme > a:active,
.banner .logout > a:active {
  background: none;
}
.banner .start-btn a span,
.banner .change-theme a span,
.banner .logout a span {
  width:100%;
  height:100%;
  display:block;
}
.banner .tabstoggle a span,
.banner .fullscreen a span {
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}
.banner .dropdown,
.form-banner .dropdown1,
.form-body .dropdown2 {
  position: absolute;
  width: 168px;
  margin-top: 10px;
  margin-left: 10px;
}
.banner .dropdown li,
.form-banner .dropdown1 li,
.form-body .dropdown2 li {
  height: 38px;
}
.banner .dropdown:before {
  display: block;
  border-bottom: 4px solid #EF705B;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  position: absolute;
  margin-top: -4px;
  left: 10%;
  margin-left: -4px;
}
.banner .dropdown li:last-child {
  border: none;
}
.banner .dropdown li a,
.form-banner .dropdown1 li a,
.form-body .dropdown2 li a {
  height: 100%;
  line-height: 38px;
  padding-left: 40px;
  display: block;
  font-size: 12px;
}
/* ============================== END Banner ============================== */



.maincontent {
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* ============================== Sidebar ============================== */
.sidebar {
  width: 89px;
  min-height: 100%;
  position: relative;
  float: left;
}
.sidebar ul {
  width: 65px;
  margin: 0 auto;
  margin-top: 70px;
}
.sidebar ul li {
  height: 65px;
  margin-bottom: 20px;
}
.sidebar ul li > a {
  width: 53px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  -webkit-border-radius:  40px;
  -moz-border-radius:     40px;
  border-radius:          40px;
  -webkit-trasition:  0.4s;
  -moz-transition:    0.4s;
  -o-transition:      0.4s;
  transition:         0.4s;
}
.sidebar ul li > a:active {
  background: none;
}
.sidebar ul li > a span {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}
.tooltips {
  width: 80px;
  height: 22px;
  line-height: 17px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  position: absolute;
  padding-top: 5px;
  display: none;
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  border-radius:          4px;
}
.tooltips span:after {
  display: block;
  content: "";
  position: absolute;
  margin-top: 5px;
  left: 40%;
}
/* ============================== END Sidebar ============================== */


/* ============================== Mainwrapper ============================== */
.mainwrapper {
  width: 100%;
  display: block;
  padding-top: -1px;
}
.mainwrapper .wrapper-container {
  height: 96%;
  padding-top: 50px;
  margin-left: 90px;
  overflow: auto;
}
/* -------------------- Tabs -------------------- */
.mainwrapper .tabs {
  width: 90%;
  white-space: nowrap;
  display: block;
}
.mainwrapper .tabs li {
  width: 15%;
  max-width: 200px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  display: inline-block;
}
.mainwrapper .tabs li.current {
  padding-bottom: 5px;
}
.mainwrapper .tabs li a {
  line-height: 36px;
  font-size: 12px;
  font-weight: bold;
}
.search {
  float: right;
  margin-top: -38px;
  margin-right: 10px;
  font-size: 12px;
}
.search input {
  height: 30px;
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  border-radius:          4px;
}
.search a {
  height: 28px;
  line-height: 28px;
  padding: 0 3px;
  display: inline-block;
}
/* -------------------- END Tabs -------------------- */

/* -------------------- Tab-content -------------------- */
.tab-content {
  display: block;
  margin-top: -1px;
  padding: 0 20px;
}
.tab-content > h2 {
  float: left;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}
.table-control {
  float: right;
  margin: 10px 0 10px 5px;
  overflow: hidden;
}
.table-control li {
  min-width: 50px;
  height: 48px;
  padding: 0 10px;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
}
.table-control li:last-child {
  border-right: none;
}
.table-control li a {
  height: 48px;
  font-size: 11px;
}
.table-control li a span {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 2px;
  display: block;
}
.table-status,
.table-checkbox {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 10px;
  padding: 0;
  border-collapse: collapse;
}
.table-status thead tr th,
.table-status tfoot tr th,
.table-checkbox thead tr th,
.table-checkbox tfoot tr th {
  height: 36px;
}
.table-status thead tr th,
.table-checkbox thead tr th {
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}
.table-status thead tr:last-child th,
.table-checkbox thead tr:last-child th {
  height: 28px;
}
.table-status .filter-container input[type="text"],
.table-checkbox .filter-container input[type="text"] {
  width: 150px;
  height: 26px;
  float: right;
  margin-top: 2px;
  margin-right: 10px;
  padding-left: 30px;
}
.checkbox-container {
  width: 16px;
  height: 16px;
  padding: 0;
  display: inline-block;
  zoom: 1;
  text-align: center;
}
.checkbox-container input[type="checkbox"] {
   width: 16px;
   height: 16px;
   margin: 0 auto;
   cursor: pointer;
   opacity: 0;
}
.table-status tbody tr td,
.table-checkbox tbody tr td {
  height: 38px;
  font-size: 12px;
  padding: 0 10px;
}
.table-status tbody tr td:first-child,
.table-checkbox tbody tr td:first-child {
  text-align: center;
  padding: 0;
}
.table-checkbox tbody td > a:hover {
  text-decoration: underline;
}

/* ---------- Progress Bar ---------- */
.progress {
  height: 20px;
  overflow: hidden;
}
.progress .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  text-align: center;
}
/* ---------- END Progress Bar ---------- */
/* -------------------- END Tab-content -------------------- */
/* ============================== END Mainwrapper ============================== */


/* ============================== Right Click menu ============================== */
.rightclick-menu {
  position: absolute;
  min-width: 168px;
  top: 0;
  left: 0;
  display: none;
}
.rightclick-menu li {
  height: 40px;
}
.rightclick-menu li a {
  height: 100%;
  font-size: 12px;
  line-height: 40px;
  padding-left: 10px;
}
/* ============================== END Right Click menu ============================== */


/* ============================== Form Banner ============================== */
.detail-banner,
.form-banner {
  width: 100%;
  height: 38px;
  position: relative;
  margin-top: 5px;
  clear: both;
}
.form-banner > span {
  height: 100%;
  line-height: 38px;
  float: left;
  font-size: 14px;
  padding-left: 20px;
  vertical-align: top;
}
.form-banner > a {
  width: 38px;
  height: 100%;
  float: right;
}
.form-banner > a span {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.form-banner .dropdown1 {
  margin-top:40px;
  right: 0;
  z-index: 10000;
}
.form-banner .dropdown1:before {
  position: absolute;
  top: -5px;
  left: auto;
  right: 12px;
  display: inline-block;
  content: '';
}
.form-banner .dropdown1:after {
  position: absolute;
  top: -4px;
  left: auto;
  right: 13px;
  display: inline-block;
  content: '';
}
/* ============================== END Form Banner ============================== */


/* ============================== Form Body ============================== */
.form-body {
  width: 100%;
  position: relative;
  margin-top: 1px;
}
.form-body table {
  width: 100%;
}
.form-body table th,
.form-body table td {
  height: 59px;
}
.form-body table th {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  padding-left: 15px;
}
.form-body table td {
  white-space: nowrap;
  position: relative;
  padding: 9px 0;
  font-size: 12px;
}
.form-body table td input[type="text"],
.form-body table td input[type="password"] {
  width: 65%;
  height: 30px;
  display: inline-blcok;
}
.form-body table td .form-options,
.form-body table button {
  height: 28px;
  position: relative;
  line-height: 28px;
  padding: 0 8px;
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
}
.form-body table button {
  height: 30px;
  margin: 0;
  cursor: pointer;
}
.form-body .dropdown2 {
  margin-top:1px;
  right: 235px;
  z-index: 10000;
}
.form-body .tags-container {
  width: 65%;
  min-width: 300px;
  white-space: normal;
  line-height: 30px;
}
.form-body .tags-container input[type="text"] {
  width: 50%;
}
.form-body .tags-container .tag {
  padding: 3px 5px;
  margin: 0 5px;
  vertical-align: middle;
  font-size: 12px;
}
.form-body .tags-container .tag a {
  display: inline-block;
  margin: 0 4px;
}
.form-body tfoot td {
  text-align: right;
  padding: 0 10px;
}
.form-body tfoot input {
  width: 100px;
  height: 30px;
  margin-right: 3px;
  cursor: pointer;
}
.error-message {
  width: 93%;
  height: 30px;
  margin: 4px auto;
  white-space: normal;
  text-align: right;
  padding-right: 10px;
}
.error-message span {
  width: 90%;
  height: 100%;
  line-height: 30px;
  font-size: 12px;
  display: inline-block;
  text-align: left;
}
.error-message a {
  width: 5%;
  height: 100%;
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
}

/* -------------------- Sortable -------------------- */
#sortable {
  width: 65%;
  overflow: hidden;
  font-size: 12px;
}
#sortable li {
  padding: 7px 13px;
}
/* -------------------- END Sortable -------------------- */
/* ============================== END Form Body ============================== */


/* ============================== Media Banner ============================== */
.media-banner {
  text-align: center;
}
.media-banner > div {
  width: 32%;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  padding: 15px 2px;
}
.select-container select {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px 0 0 10px;
  opacity: 0;
  cursor: pointer;
}
.media-banner .sorting {
  text-align: left;
}
.media-banner .sorting > span {
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
}
.select-container {
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding: 0 30px 0 5px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  overflow:hidden;
}
.loading {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
}
.loading .loading-gif {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.media-banner .counter {
  line-height: 30px;
}
.media-banner .bulk-actions {
  text-align: right;
}
.media-banner .bulk-actions .apply {
  padding: 7px;
  margin: 0 10px;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
}
/* ============================== END Media Banner ============================== */


.seperator {
  height: 4px;
  margin: 8px 0;
}
/* ============================== Media Body ============================== */
.media-body {
  margin-top: 5px;
  text-align: center;
}
.media-container {
  min-width: 200px;
  position: relative;
  margin: 4px 5px 0 5px;
  display: inline-block;
  vertical-align: top;
  padding: 4px;
}

/* -------------------- Responsive layout -------------------- */
@media only screen
and (min-width: 1600px) {
  .media-container {
    width: 17%;
    min-height: 400px;
  }
}
@media only screen
and (max-width: 1600px)
and (min-width: 1024px) {
  .media-container {
    width: 22%;
    min-height: 400px;
  }
}
@media only screen
and (max-width: 1024px) {
  .media-container {
    width: 40%;
    min-height: 300px;
  }
}
/* -------------------- END Responsive layout -------------------- */

.media-preview {
  position: relative;
}
.media-preview .lightbox {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.media-preview .lightbox:hover {
  opacity: 1;
}
.media-preview img {
  height: auto;
  max-width: 100%;
}
.media-desc {
  padding: 0 10px;
}
.media-desc > a {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
}
.media-desc > p {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}
.media-desc .media-control {
  padding: 5px 0;
  text-align: center;
}
.media-desc .media-control a {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-right: 10px;
}
.media-desc .media-control a[name="edit"] span {
  width: 100%;
  height: 100%;
  display: block;
}
.media-desc .media-control a[name="delete"] span {
  width: 100%;
  height: 100%;
  display: block;
}
/* ============================== END Media Body ============================== */


/* ============================== Detail Banner ============================== */
.detail-banner .detail-tabs {
  float: left;
}
.detail-banner .detail-tabs ul li {
  height: 100%;
  line-height: 38px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
.detail-banner .detail-controls {
  float: right;
  margin-right: 20px;
}
.detail-banner .detail-controls a {
  width: 50px;
  height: 25px;
  line-height: 25px;
  margin-top: 6px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
/* ============================== END Detail Banner ============================== */



/* ============================== Detail Info ============================== */
.detail-info {
  width: 100%;
  position: relative;
  margin-top: 1px;
  overflow: hidden;
}
.detail-info .detail-logo {
  width: auto;
  float: left;
  vertical-align: middle;
  margin: 20px 0 20px 30px;
}
.detail-info span {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}
.detail-info .detail-intro {
  float: right;
  margin: 20px 30px 20px 0;
}
.detail-info .detail-intro table th {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  width: 100px;
  height: 20px;
}
.detail-info .detail-intro table td {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  width: 100px;
}
/* ============================== END Detail Info ============================== */



/* ============================== Detail Body ============================== */
.detail-body {
  width: 100%;
  position: relative;
  margin-top: 1px;
  overflow: hidden;
}
/* -------------------- General Info -------------------- */
.general-info {
  margin: 20px 0;
}
.general-info table {
  width: 100%;
  font-size: 12px;
}
.general-info table th {
  text-align: right;
  padding-right: 20px;
}
.general-info table td {
  width: 30%;
  height: 30px;
}
/* -------------------- END General Info -------------------- */

/* -------------------- Detail table -------------------- */
.detail-table {
  width: 100%;
}
.detail-table th {
  height: 35px;
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
}
.detail-table td {
  height: 35px;
  font-size: 14px;
  padding-left: 10px;
}
.detail-table th:first-child,
.detail-table td:first-child {
  border-left: none;
}
.detail-table th:last-child,
.detail-table td:last-child {
  border-right: none;
  font-weight: bold;
}
/* -------------------- END Detail table -------------------- */


/* -------------------- Detail Summary -------------------- */
.detail-summary {
  margin: 20px 0;
}
.detail-summary table {
  width: 100%;
  font-size: 12px;
}
.detail-summary table th {
  text-align: right;
  padding-right: 20px;
}
.detail-summary table tr:first-child th {
  text-align: left;
  height: 40px;
  padding-left: 100px;
  font-size: 16px;
}
.detail-summary table tr:first-child td {
  text-align: right;
  padding-right: 30px;
  font-size: 16px;
  font-weight: bold;
}
.detail-summary table tr:first-child td span {
  display: block;
  font-size:24px;
}
.detail-summary table td {
  height: 30px;
}
/* -------------------- END Detail Summary -------------------- */
/* ============================== END Detail Body ============================== */


/* ============================== Detail Footer ============================== */
.detail-footer {
  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 1px;
  overflow: hidden;
  
}
.detail-footer span {
  font-size: 12px;
  text-align: center;
  display: block;
  line-height: 50px;
}
/* ============================== Detail Footer ============================== */