/* ============================== Global ============================== */
*,
html,
body {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(../images/main-bg.png) no-repeat;
  background-size: 100% 100%;
}
a {
  text-decoration: none;
  display: block;
  color: rgba(148,135,122,1);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
}
h2 {
  font-size: 16px;
  font-weight: normal;
}
form {
  margin: 0;
}
.caret {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  margin-left: 4px;
  border-top: solid 4px rgba(0,0,0,1);
  border-left: solid 4px transparent;
  border-right: solid 4px transparent;
}
.hide {
  display: none;
}
.container {
  overflow: hidden;
}
/* ============================== END Global ============================== */

/* ============================== Banner ============================== */
.banner {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background: rgba(255,255,255,0.7);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0 0 8px rgba(0,0,0,0.3);
  box-shadow:         0 0 8px rgba(0,0,0,0.3);
  z-index: 2000;
}
.banner > div {
  display: table-cell;
}
.start-btn {
  height: 100%;
  position: relative;
  vertical-align: top;
}
.start-btn > a {
  line-height: 46px;
  padding: 0 40px;
  -webkit-transition: 0.4s;
  -moz-transition:    0.4s;
  -o-transition:      0.4s;
  transition:         0.4s;
  border-top: solid 4px transparent;
  border-right: solid 1px #ccc;
  cursor: pointer;
}
.start-btn > a:hover {
  background: rgba(185,175,166,0.2);
}
.start-btn > a.active {
  background: rgba(185,175,166,0.5);
  border-top: solid 4px rgba(81,174,124,1);
}
.start-menu {
  position: absolute;
  left: 1px;
  bottom: 50px;
  border: solid 1px #fff;
  border-bottom: none;
  -webkit-border-top-left-radius:   6px;
  -webkit-border-top-right-radius:  6px;
  -moz-border-radius-topleft:       6px;
  -moz-border-radius-topright:      6px;
  border-top-left-radius:           6px;
  border-top-right-radius:          6px;
  -webkit-box-shadow: 2px -2px 4px rgba(0,0,0,0.3);
  -moz-box-shadow:    2px -2px 4px rgba(0,0,0,0.3);
  box-shadow:         2px -2px 4px rgba(0,0,0,0.3);
  overflow: hidden;
  display: none;
  z-index: 1000;
}
.start-menu ul li {
  height: 40px;
  cursor: pointer;
}
.start-menu ul li a {
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px;
  color: #fff;
  white-space: nowrap;
  -webkit-text-shadow:  0 1px 1px #000;
  -moz-text-shadow:     0 1px 1px #000;
  text-shadow:          0 1px 1px #000;
}
.start-menu ul li a:hover {
  background: rgba(185,175,166,0.4);
}
.banner-control {
  width: 100%;
  height: 100%;
  margin-left: 100px;
}
.banner-tools {
  height: 100%;
  vertical-align: top;
  padding-left: 30px;
  border-left: solid 1px #ccc;
}
/* ============================== END Banner ============================== */


.body-container {
  width: 100%;
  overflow: auto;
  position: relative;
}
.body-container > div {
  display: inline-block;
  vertical-align: top;
}
/* ============================== Tool Bar ============================== */
.tool-bar {
  width: 25%;
  max-width: 400px;
  min-width: 220px;
  padding: 10px 1%;
  text-align: center;
  position: absolute;
  right: 0;
}
.tool-bar > div {
  -webkit-border-radius:  6px;
  -moz-border-radius:     6px;
  border-radius:          6px;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0 0 8px rgba(0,0,0,0.3);
  box-shadow:         0 0 8px rgba(0,0,0,0.3);
  margin-bottom: 10px;
  background: rgba(255,255,255,0.8);
}

/* -------------------- Profile -------------------- */
.profile {
  overflow: hidden;
  background: none!important;
}
.profile .info {
  width: 100%;
  padding: 10px 0;
  background: rgba(176,165,153,0.5);
  text-align: center;
}
.profile .info > div {
  display: inline-block;
  vertical-align: middle;
}
.profile-photo {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  border: solid 2px rgba(146,135,124,1);
  margin-right: 10px;
  text-align: center;
  overflow: hidden;
}
.profile-photo img {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 50px;
}
.profile-title h2 {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  -webkit-text-shadow:  0 1px 1px #000;
  -moz-text-shadow:     0 1px 1px #000;
  text-shadow:          0 1px 1px #000;
}
.profile-title p {
  font-size: 12px;
  font-weight: bold;
  color: rgba(118,107,95,1);
  text-align: left;
}
.profile .list {
  width: 100%;
  background: rgba(255,255,255,0.9);
}
.profile .list ul li {
  border-left: solid 4px transparent;
}
.profile .list ul li:hover {
  background: rgba(185,175,166,0.2);
  border-left: solid 4px rgba(81,174,124,1);
}
.profile .list ul li a {
  height: 40px;
  line-height: 40px;
  text-align: left;
  margin: 0 10px;
  font-weight: normal;
  font-size: 14px;
}
.profile .list ul li a[name="view"] {
  background: url(../images/icons/view.png) no-repeat right center;
}
.profile .list ul li a[name="edit"] {
  background: url(../images/icons/edit.png) no-repeat right center;
}
.profile .list ul li a[name="message"] {
  background: url(../images/icons/message.png) no-repeat right center;
}
.profile .list ul li a[name="todos"] {
  background: url(../images/icons/todos.png) no-repeat right center;
}
.profile .list ul li a[name="notes"] {
  background: url(../images/icons/notes.png) no-repeat right center;
}
/* -------------------- END Profile -------------------- */

/* -------------------- Account Status -------------------- */
.account-status {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
  overflow: hidden;
  min-width: 220px;
  color: rgba(148,135,122,1);
}
.account-status canvas {
  margin: 10px auto;
}
.account-status ul li {
  display: inline-block;
  width: 70px;
  height: 50px;
  vertical-align: top;
  background: rgba(185,175,166,0.2);
}
.account-status ul li {
  border-left: solid 1px rgba(255,255,255,0.7);
  border-right: solid 1px rgba(255,255,255,0.7);
}
.account-status ul li span {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.account-status ul .active {
  border-top: solid 4px rgba(81,174,124,1);
}
.account-status ul .backup {
  border-top: solid 4px rgba(189,166,207,1);
}
.account-status ul .storage {
  border-top: solid 4px rgba(225,96,65,1);
}
.account-status ul .destroying {
  border-top: solid 4px rgba(233,199,101,1);
}
.account-status ul .destroyed {
  border-top: solid 4px rgba(97,144,173,1);
}
.account-status ul .deleting {
  border-top: solid 4px rgba(118,107,95,1);
}
/* -------------------- END Account Status -------------------- */

/* -------------------- Calendar -------------------- */

.calendar {
  overflow: hidden;
  background: none!important;
}
.calendar .date-info {
  background: rgba(176,165,153,0.5);
  width: 100%;
  display: block;
  text-align: left;
  padding: 20px 0 40px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 1px #000;
  white-space: nowrap;
  position: relative;
}
.calendar .date-info .date-container {
  padding-left: 10px;
}
.calendar .date-info .clock {
  position: absolute;
  top: 0;
  right: 5px;
}
.calendar .date-info .day {
  font-size: 20px;
}
.calendar .date-info .month {
  font-size: 14px;
  font-weight: normal;
}
.calendar .date-info .date {
  font-size: 46px;
  font-weight: normal;
}
#calendar {
  padding: 5px 0;
  background: rgba(255,255,255,0.9);
}
.calendar-month {
  width: 95%;
  margin: 0 auto;
}
.calendar-month td {
  border: solid 1px #fff;
}
.calendar-month td span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  display: block;
}
.calendar-month .other-month {
  background: #eee;
}
.calendar-month .today span {
  background: rgba(171,147,235,1);
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
}
/* -------------------- END Calendar -------------------- */

/* -------------------- Search -------------------- */
.search {
  overflow: hidden;
  color: rgba(148,135,122,1);
  padding: 10px 0;
}
.search input {
  width: 80%;
  height: 35px;
  padding: 0 30px 0 10px;
  margin-top: 10px;
  border: solid 1px #ccc;
  -webkit-border-radius:  6px;
  -moz-border-radius:     6px;
  border-radius:          6px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow:    inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow:         inset 0 1px 1px rgba(0,0,0,0.075);
  outline: 0;
  -webkit-transition: 0.4s;
  -moz-transition:    0.4s;
  -o-transition:      0.4s;
  transition:         0.4s;
  background: url(../images/icons/search.png) no-repeat 95% center;
}
.search input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow:    inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow:         inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/* -------------------- END Search -------------------- */
/* ============================== END Tool Bar ============================== */


/* ============================== Body Content ============================== */
.body-content {
  width: 72%;
  height: 100%;
  position: relative;
}
.body-content > div {
  background: rgba(255,255,255,0.8);
  -webkit-border-radius:  6px;
  -moz-border-radius:     6px;
  border-radius:          6px;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0 0 8px rgba(0,0,0,0.3);
  box-shadow:         0 0 8px rgba(0,0,0,0.3);
  margin-top: 10px;
  color: rgba(141,128,114,1);
}
/* -------------------- Main Nav -------------------- */
.main-nav {
  padding: 10px 0 0 0;
  text-align: center;
  background: none!important;
  box-shadow: none!important;
  display: inline-block;
}
.nav-item {
  position: relative;
  width: 70px;
  vertical-align: bottom;
  padding: 5px 20px;
  cursor: pointer;
}
.nav-item a {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  -webkit-border-radius:  10px;
  -moz-border-radius:     10px;
  border-radius:          10px;
  -webkit-transition: 0.1s;
  -moz-transition:    0.1s;
  -o-transition:      0.1s;
  transition:         0.1s;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8);
  -moz-box-shadow:    0 0 10px rgba(0,0,0,0.8);
  box-shadow:         0 0 10px rgba(0,0,0,0.8);
}
.nav-item:active a {
  box-shadow: none;
}
.nav-item span {
  width: 60px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  text-shadow: 0 1px 1px #000;
}
.admin-home a {
  background: rgba(255,255,255,0.6) url(../images/admin-home.png) no-repeat center center;
  background-size: 40px 40px;
}
.global-home a {
  background: rgba(255,255,255,0.6) url(../images/global-home.png) no-repeat center center;
  background-size: 40px 40px;
}
.archive-searches a {
  background: rgba(255,255,255,0.6) url(../images/archive-searches.png) no-repeat center center;
  background-size: 40px 40px;
}
.configuration a {
  background: rgba(255,255,255,0.6) url(../images/configuration.png) no-repeat center center;
  background-size: 40px 40px;
}
.reporter-home a {
  background: rgba(255,255,255,0.6) url(../images/reporter-home.png) no-repeat center center;
  background-size: 40px 40px;
}
.all-jobs a {
  background: rgba(255,255,255,0.6) url(../images/all-jobs.png) no-repeat center center;
  background-size: 40px 40px;
}
.client-home a {
  background: rgba(255,255,255,0.6) url(../images/client-home.png) no-repeat center center;
  background-size: 40px 40px;
}
/* -------------------- END Main Nav -------------------- */
/* ============================== END Body Content ============================== */


.page-container {
  position: absolute;
  width: 98%;
  max-height: 90%;
  margin: auto;
  padding: 4px 0;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 900;
  display: block;
  overflow: auto;
}
/* ============================== Admin Home ============================== */
.tab-container {
  width: 97%;
  margin: 0 auto;
  position: relative;
}
.tab-container .tab-item {
  display: inline-block;
  vertical-align: bottom;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 0 1px 1px #000;
  -webkit-border-top-left-radius:   4px;
  -webkit-border-top-right-radius:  4px;
  -moz-border-radius-topleft:       4px;
  -moz-border-radius-topright:      4px;
  border-top-left-radius:           4px;
  border-top-right-radius:          4px;
  -webkit-box-shadow: 0 -2px 4px rgba(0,0,0,0.3);
  -moz-box-shadow:    0 -2px 4px rgba(0,0,0,0.3);
  box-shadow:         0 -2px 4px rgba(0,0,0,0.3);
  border: solid 1px #fff;
  cursor: pointer;
}
.tab-container .tab-item.current {
  color: rgba(141,128,114,1);
  background: rgba(255,255,255,1);
  text-shadow: none;
}
.tab-container .tab-item:first-child {
  margin-left: 1px;
}
.tab-container .close-window {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 25px;
  line-height: 25px;
  background: red;
  border: none;
}
.data-table {
  width: 97%;
  margin: 0 auto;
  background: rgba(255,255,255,1);
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius:  4px;
  -moz-border-radius-bottomright:     4px;
  -moz-border-radius-bottomleft:      4px;
  border-bottom-right-radius:         4px;
  border-bottom-left-radius:          4px;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.3);
  -moz-box-shadow:    0 4px 4px rgba(0,0,0,0.3);
  box-shadow:         0 4px 4px rgba(0,0,0,0.3);
  overflow: hidden;
}
.data-table thead tr th {
  height: 30px;
  text-align: left;
}
.data-table thead tr + tr th {
  height: 50px;
  text-shadow: 0 2px 1px #fff;
  background: rgba(240,240,240,1);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.data-table tbody tr td {
  height: 40px;
  font-size: 12px;
  text-align: center;
  border-bottom: solid 1px rgba(233,233,233,1);
}
.data-table tbody tr:hover td {
  background: rgba(185,175,166,0.2);
}
/* ============================== END Admin Home ============================== */






/* ============================== Responsive Design ============================== */
/*
@media screen
and (max-width: 880px) {
  .body-content {
    width: 50%;
  }
}
@media screen
and (min-width: 2000px) {
  .body-content {
    width: 78%;
  }
}
*/
/* ============================== END Responsive Design ============================== */
